#header-container{
    width: 100%;
    height: 20%;
    background-color: darksalmon;
    position: absolute;
    top: 0%;
}

#body-container{
    width: 100%;
    height: 80%;
    background-color: gainsboro;
    position: absolute;
    top: 20%;
}
#url-input{

}
